<table class="table table-striped">
  <h1>Question: {{ polls.title }}</h1>
  <thead>
    <th>Survey Option</th>
    <th>Current Vote Count</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>{{ polls.optOne }}</td>
      <td>{{ polls.likeOne }}</td>
      <td ng-click="count = count + 1" ng-init="count=0"><button ng-click="addVote()" class="voteBtn" type="button" name="button">Like!</button></td>
      <!-- <td>{{ count }}</td> -->
    </tr>
    <tr>
      <td>{{ polls.optTwo }}</td>
      <td>{{ count }}</td>
      <td ng-click="count = count + 1" ng-init="count=0"><button ng-click="addVote()" class="voteBtn" type="button" name="button">Like!</button></td>
      <!-- <td>{{ count }}</td> -->
    </tr>
    <tr>
      <td>{{ polls.optThree }}</td>
      <!-- <td>{{ polls.likeThree }}</td> -->
      <td>{{ polls.likeThree }}</td>
      <!-- <td><button ng-click="addVote()" class="voteBtn" type="button" name="button">Vote!</button></td> -->
      <td ng-click="count = count + 1" ng-init="count=0"><button ng-click="addVote()" class="voteBtn" type="button" name="button">Like!</button></td>
    </tr>
    <tr>
      <td>{{ polls.optFour }}</td>
      <td>{{ polls.likeFour }}</td>
      <td ng-click="count = count + 1" ng-init="count=0"><button ng-click="addVote()" class="voteBtn" type="button" name="button">Like!</button></td>
      <!-- <td>{{ count }}</td> -->
    </tr>

  </tbody>
</table>
